@{
    ViewData["title"] = "About";
  
}

<div class="container">
    <div class="row">
        <h1>About</h1>

        @*<p>Student name: @ViewBag.Name</p>*@

        <p>Name: @ViewBag.Name</p>
        <p>Profession: @ViewData["Profession"]</p>
        <p>Age: @TempData["Age"]</p>
    </div>
</div>
